$accentColor = #09f
$badgeReadonlyColor = #06f
$badgeAbstractColor = #06f
$badgeStaticColor = #06f

$sidebarWidth = 15rem
$contentWidth = 960px
$MQNarrow = 959px
$MQMobile = 859px
$MQMobileNarrow = 419px